<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Penjumlahan</title>
</head>
<body>
    <h1>Tes Input Data Sensor</h1>
    <form action="{{url_for('predict')}}" method="post">
        <label>data</label><br/>
        <textarea name="var1" rows="4" cols="50"></textarea>
        <input type="submit" value="Submit">
    </form>
        <h1>array:</h1>
        <h4>{{hasil}}</h4>
        <!--<h4>{{result}}</h4>-->
        <h4><img src={{result}}></h4>

</body>
</html> 
